.Menu .navbar-brand {
  color: #f54555;
}

.Menu {
  height: 60px;
}

.nav-link {
  color: #ffffff;
  transition: color 200ms;
  &:hover {
    color: #f54555;
    text-decoration: none;
  }
}

.navbar-brand {
   font-family: 'Lobster', cursive;
  font-size: 35px;
}

.nav-item {
  font-size: 20px;

}


