.ui-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    height: 500px!important;                    //Lina is a witch
    width: 500px;
}
.ui-dialog-content {
    width: 100%;
    
}

.avatar {
    display: flex;
    justify-content: center;
}